/*// Create an HTML page with a large element on the page
// that says "Don't hover over me" inside of it.
// When you hover over the element, send an alert to the user
// that says, "Hey, I told you not to hover over me!"*/

.wrapper {
  height: 50px;
  width: 300px;
  border-style: solid;
  border-color: black;
  /*'this is a test 2'*/
}

.submit1  {
  height: 21px;
  width: 70px;
  float: left;
  background-color: green;
  /*'this a test'*/
  border-style: solid;
  border-color: black;
  /*'this is a test 2'*/
}

#messagebox1 {
  height: 21px;
  width: 90px;
  float: left;
  background-color: brown;
  /*'this a test'*/
  border-style: solid;
  border-color: black;
  /*'this is a test 2'*/
}

.submit2 {
  height: 21px;
  width: 70px;
  float: left;
  background-color: blue;
  /*'this a test'*/
  border-style: solid;
  border-color: black;
  /*'this is a test 2'*/
}

#messagebox2 {
  height: 21px;
  width: 90px;
  float: left;
  background-color: yellow;
  /*'this a test'*/
  border-style: solid;
  border-color: black;
  /*'this is a test 2'*/
}
